div.container
    div.jumbotron.text-center
        h1
            | *Name* Online Shop
        h2
            | *Slogan*
    div.row
        div.col-lg-12
            div.panel.panel-primary
                div.panel-heading.text-center
                    | Content
//h1 {{ greet }}