div.container
    div.jumbotron.text-center
        h1
            | T-# Online Store
        h2
            | The funniest T-shirts for programmers
    div.row
        div.col-lg-12
            div.panel.panel-primary#main-home
                div.panel-heading.text-center Best Deals
                div.panel-body.text-center
                    a(href="#/product-details")
                        div.panel.panel-default.product
                            div.panel-heading 
                                span Code Monkey
                            div.panel-body#pr1
                                //img(src="/public/imgs/1.jpg")
                    a(href="#/product-details")
                        div.panel.panel-default.product
                            div.panel-heading 
                                span You Broke Something
                            div.panel-body#pr2
                                //img(src="/public/imgs/2.jpg")
                    a(href="#/product-details")
                        div.panel.panel-default.product
                            div.panel-heading 
                                span It's not a Bug
                            div.panel-body#pr3
                                //img(src="/public/imgs/3.jpg")
                    a(href="#/product-details")
                        div.panel.panel-default.product
                            div.panel-heading 
                                span Keep out of Sunlight 
                            div.panel-body#pr4
                                //img(src="/public/imgs/4.jpg")
                    a(href="#/product-details")
                        div.panel.panel-default.product
                            div.panel-heading 
                                span 2b || !2b
                            div.panel-body#pr5
                                //img(src="/public/imgs/5.jpg")
                    a(href="#/product-details")
                        div.panel.panel-default.product
                            div.panel-heading 
                                span Error 404 - No Life
                            div.panel-body#pr6
                                //img(src="/public/imgs/6.jpg")

//h1 {{ greet }}