div.container
    div.well
        form.form-horizontal(name="profileForm")
            fieldset
                legend Update profile
                div.form-group
                    label.col-md-2.control-label(for="first-name") 
                        | First name
                    div.col-md-10
                        input#first-name.form-control(type="text", placeholder="First name", ng-model="user.firstName", required)
                div.form-group
                    label.col-md-2.control-label(for="last-name") 
                        | Last name
                    div.col-md-10
                        input#last-name.form-control(type="text", placeholder="Last name", ng-model="user.lastName", required)
                div.form-group
                    label.col-md-2.control-label(for="password") 
                        | Password
                    div.col-md-10
                        input#password.form-control(type="password", placeholder="Password", ng-model="user.password")
                div.form-group
                    div.col-lg-10.col-lg-offset-2
                        button.btn.btn-primary(ng-click="update(user)", ng-disabled="profileForm.$invalid") 
                            | Update
                        a.btn.btn-primary(href="/") 
                            | Cancel