doctype
html
    head
        title Online Store
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        h1 Hi from Node!
        
        block content
        
        include scripts