doctype
html
    head
        title Online Store
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/css/toastr.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        div#wrapper
            header
                nav
                    div.navbar.navbar-default
                        div.container
                            div.navbar-header
                                a.navbar-brand(href="#/")
                                    | T-# Online Store
                                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-main")
                            div.navbar-collapse.collapse.navbar-responsive-collapse(ng-controller="LoginCtrl")
                                ul.nav.navbar-nav
                                    li
                                        a(href="#/products")
                                            | Products
                                    li
                                        a(href="#/create-item" ng-show="isAdmin()")
                                            | Add product
                                    li(ng-show="isAdmin()")
                                        a(href="#/admin")
                                            | Admin panel
                                form.navbar-form.navbar-left.col-lg-10
                                    input.form-control(type="text", placeholder="Search", ng-model="search")
                                ul.nav.navbar-nav.navbar-right(ng-hide="loggedIn()")
                                    li
                                        a(href="#/login")
                                            | Log In
                                    li
                                        a(href="#/register")
                                            | Register
                                ul.nav.navbar-nav.navbar-right(ng-show="loggedIn()")
                                    li
                                        a(href="#/profile")
                                            | Hello, {{ identity.getCurrentUser().firstName }}
                                    li(ng-click="logout()")
                                        a(href="#/")
                                            | Log Out

        //h1 Hi from Node!

        block content
        
        include scripts