script(src="lib/jquery/dist/jquery.js")
script(src="lib/toastr/toastr.min.js")
script(src="lib/bootstrap/dist/js/bootstrap.js")
script(src="lib/angular/angular.js")
script(src="lib/angular-route/angular-route.js")
script(src="lib/angular-cookies/angular-cookies.js")
script(src="lib/angular-resource/angular-resource.js")
script(src="app/app.js")
script(src="app/controllers/HomeCtrl.js")
script(src="app/controllers/ProductsCtrl.js")
script(src="app/controllers/account/RegisterCtrl.js")
script(src="app/controllers/account/LoginCtrl.js")
script(src="app/controllers/account/ProfileCtrl.js")
script(src="app/controllers/admin/UserListCtrl.js")
script(src="app/services/account/auth.js")
script(src="app/services/account/identity.js")
script(src="app/services/account/users-resource.js")
script(src="app/services/common/notifier.js")